.user-container{
    background-color: rgba(234, 61, 113, 0.819);
    padding: 15px;
   
}

#user-img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#user-name{
    font-size: larger;
}
